// icons
.icon
  display: inline-block
  &-f
    +s(f)
  &-tw
    +s(tw)
  &-in
    +s(in)
  &-g
    +s(g)
  &-card
    +s(card)
  &-numb
    +s(numb)
  &-email
    +s(email)

.nav
  a
    color: #fff
    &:hover,
    &.is-active
      &:before
        background: $yellow
    &:before
      content: ""
      top: 0
      position: absolute
      left: 0
      right: 0
      transition: background .2s
      background: transparent

.step
  +vertical
  +r(920)
    height: auto
  &_two
    .step__btn
      margin-top: 30px
  &__in
    margin: 0 auto
    max-width: 920px
    vertical-align: middle
    font-size: 14px
    display: inline-block
  &__block
    position: relative
    &.is-mod
      &:before
        position: absolute
        content: ''
        top: 100%
        left: 0
        right: 0
        height: 5px
        margin-top: -1px
  &__shad
    position: absolute
    top: 0
    right: 100%
    bottom: -20px
    margin-right: -20px
    width: 60px
    opacity: .3
    z-index: -1
    background-image: linear-gradient(268deg, #b6b6b6 0%, transparent 100%)
    &:before,
    &:after
      position: absolute
      content: ''
      left: 0
    &:before
      top: 0
      +arr(60,20,#fff,tl)
    &:after
      bottom: 0
      +arr(60,20,#fff,br)
  &__row
    font-size: 15px
  &__wrap
    margin: 0 auto
  &__nav
    text-align: right
    +clr
    li
      vertical-align: top
      display: inline-block
      &:first-child
        float: left
    a
      transition: border-color .2s
      border-bottom: 1px solid transparent
  &__numb
    margin: 18px auto
    width: 342px

.cards
  +clr
  &__col
    float: left
    margin-left: 4%
    width: 48%
    text-align: left
    &:first-child
      text-align: right
      margin-left: 0
      +r(920)
        margin-top: 0
        text-align: center
    +r(920)
      float: none
      width: 100%
      max-width: 415px
      text-align: center
      display: block
  .title-middle
    margin-bottom: 20px

.card
  text-align: left
  &__row
    position: relative
    margin-top: 18px
    font-size: 0
    +clr
    &:first-child
      margin-top: 0
  &__month,
  &__year,
  &__cvc
    float: left
    width: 91px
  &__year
    margin-left: 18px
  &__code
    float: left
    width: 128px
  &__cvc
    position: relative
    float: right
  &__info
    position: absolute
    top: -12px
    right: -7px
  &__icon
    font-size: 12px
    background-color: transparent
    &:hover
      & + .card__block
        opacity: 1
        visibility: visible
        z-index: 2
  &__block
    position: absolute
    left: -80px
    top: 100%
    margin-top: 7px
    padding: 7px 14px
    width: 340px
    font-size: 10px
    visibility: hidden
    opacity: 0
    z-index: -1
    color: #000
    transition: visibility .2s, opacity .2s
    border: 1px solid $bd-bord-blue
    background: #fff
    +r(920)
      left: auto
      right: -32px
  &__label
    position: absolute
    left: 20px
    font-size: 10px
    z-index: 1
  &__question
    margin: -2px 0 0 10px
    font-size: 10px
    line-height: 1
    transition: border-color .2s
    border-bottom: 1px solid transparent
    vertical-align: top
    display: inline-block
  &__cont
    display: none
  &__ul
    font-size: 12px
    display: table
    li
      min-width: 136px
      vertical-align: top
      transition: background .2s
      display: table-cell
      &:first-child
        border-left: none
    a
      position: relative
      display: block
      .icon
        position: absolute
// error-xext
.error-xext
  position: absolute
  left: 0
  bottom: 100%
  margin-bottom: 5px
  font-size: 10px
  display: none

// input
.input
  padding: 0 20px
  height: 47px
  width: 100%
  color: $c_input
  font-size: 15px
  transform: translate3d(0,0,0)
  transition: border-color .2s
  border: 1px solid $bd-input
  display: block
  &:focus
    &::placeholder
      font-size: 0
  &.is-error
    border-color: $d_red
    background: $l_red
    & + .error-xext
      display: block
  &_yellow
    border-color: $bd-yellow

// line
.line
  margin: 0
  height: 1px
  border: none

// input-field
.input-field
  position: relative
  .currency
    position: absolute
    right: 20px
    top: 50%
    transform: translate(0,-50%)

// accord
.accord
  &.is-active
    .accord__top:before
      transform: rotate(90deg)
  &__top
    position: relative
    padding: 12px 0
    user-select: none
    cursor: pointer
    &:before
      position: absolute
      content: ''
      top: 50%
      right: 0
      transition: transform .3s
      transform: translate3d(0,0,0)
      transform: translate(0,-50%)
      +s(arrord-arr)
  &__block
    padding-bottom: 14px
    display: none

// footer
.footer
  &__row
    +clr
  &__left
    float: left
  &__right
    float: right
  &__col
    vertical-align: top
    display: inline-block
    &:first-child
      margin-left: 0
  &__center
    text-align: center
    font-size: 12px

// soc
.soc
  font-size: 0
  &__item
    margin-left: 15px
    vertical-align: top
    display: inline-block
    &:first-child
      margin-left: 0
  &__ico
    height: 24px
    width: 24px
    line-height: 23px
    text-align: center
    border-radius: 50%
    transition: background .2s
    vertical-align: top
    display: inline-block
    &.is-f
      background: $bg_f
      &:hover
        background: darken($bg_f, 20%)
      .icon
        margin-left: -1px
    &.is-tw
      background: $bg_tw
      &:hover
        background: darken($bg_tw, 20%)
      .icon
        margin-bottom: -1px
    &.is-in
      background: $bg_in
      &:hover
        background: darken($bg_in, 20%)
    &.is-g
      background: $bg_g
      &:hover
        background: darken($bg_g, 20%)
    .icon
      vertical-align: middle
  &__text
    margin-top: 7px
    text-align: center
    color: $d_blue
    text-align: center
    font-size: 10px

// day
.day
  // color: $d
  // +bold
  font-size: 40px

// partners
.partners
  font-size: 0
  text-align: center
  &__item
    margin-left: 15px
    height: 39px
    line-height: 39px
    vertical-align: top
    display: inline-block
    &:first-child
      margin-left: 0
  .icon
    vertical-align: middle
  img
    vertical-align: middle
