section.question
  .question__in
    h3.title Вопросы и ответы
    .question__wrap
      .accord.js-accord.is-active
        .accord__top.js-accord-but Перевод денег с карты на карту внутри банка
        .accord__block.js-accord-block
          p За перевод с карты на карту Тинькофф Банка комиссия не взимается.
          p Деньги моментально поступают на счет получателя.
      .accord.js-accord
        .accord__top.js-accord-but Перевод денег с карты на карту другого банка
        .accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
      .accord.js-accord
        .accord__top.js-accord-but Куда можно переводить деньги?
        .accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
      .accord.js-accord
        .accord__top.js-accord-but Лимит перевода и от чего он зависит, возможные комиссии
        .accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
      .accord.js-accord
        .accord__top.js-accord-but Особенности перевода денег через интернет
        .accord__block.js-accord-block Lorem ipsum dolor sit amet, consectetur adipisicing.
