section.rates
  .rates__in
    h3.title Тарифы и лимиты
    p Максимальная сумма платежа -
      strong 15 000 грн,
      | в сутки -
      strong 75 000 грн.
    p Принимаются все карты Украинских банков с поддержкой 3-D Secure
    p Срок зачисления - от нескольких секунд до 3х дней
    .rates__but
      a(href="#").btn.btn_bord
        span узнать о других лимитах
