extends _layout

mixin store-images
  a(href="#").app
    img(src="img/app-store.png" alt="img")
  a(href="#").app
    img(src="img/google-play.png" alt="img")

block title
  title Title of template

block content
  section.top
    include ./includes/_header.jade
    .step
      .step__in
        form
          .cards
            .cards__col
              h4.title-middle Карта отправителя
              .card
                .card__shad
                .card__in
                  .card__row
                    input.input(type="text" placeholder="Номер карты")
                  .card__row
                    .card__month
                      input.input(type="text" placeholder="Месяц")
                    .card__year
                      input.input(type="text" placeholder="Год")
                    .card__cvc
                      input.input(type="text" placeholder="CVC")
                      .card__info
                        button.card__icon ?
                        .card__block
                          | CVV-код – это трехзначный код для проверки подлинности Вашей карты при оплате через интернет и других видах операций.
                          br
                          | Код CVV можно найти на обратной стороне карты – это последние 3 цифры из семизначного числа рядом с местом для подписи, которые, как правило, визуально отделены от всего числа.
                  .card__row
                    .card__label ваш номер телефона
                    input.input(type="text" placeholder="+38")
            .cards__col
              h4.title-middle Данные получателя
              .card.js-tab-group
                .card__shad
                .card__cont.js-tab-cont.js-tab1
                  .card__row
                    input.input(type="text" placeholder="Номер карты")
                  .card__row
                    .card__code
                      input.input(type="text" placeholder="Промо-код")
                    a.card__question(href="#") как получить?
                .card__cont.js-tab-cont.js-tab2
                  .card__row
                    input.input(type="text" placeholder="Номер телефона")
                  .card__row
                    .card__code
                      input.input(type="text" placeholder="Промо-код")
                    a.card__question(href="#") как получить?
                .card__cont.js-tab-cont.js-tab3
                  .card__row
                    input.input(type="text" placeholder="Email-адрес")
                  .card__row
                    .card__code
                      input.input(type="text" placeholder="Промо-код")
                    a.card__question(href="#") как получить?
                ul.card__ul.js-tab
                  li
                    a(href="js-tab1")
                      .icon.icon-card
                      span на карту
                  li
                    a(href="js-tab2")
                      .icon.icon-numb
                      span по номеру телефона
                  li
                    a(href="js-tab3")
                      .icon.icon-email
                      span по email
          .step__wrap
            h4.title-middle Сумма перевода
            .input-field
              .input-field__shad
              input.input(value="15000" placeholder="введите сумму")
              .currency грн.
            p комиссия 80 грн.
            .price сумма к оплате&nbsp;
              strong 15080
              | &nbsp;грн.
            .step__but
              button.btn.btn_shad(type="submit")
                span Перевести
          .step__text Нажимая кнопку "Перевести", вы соглашаетесь с офертой

block content-footer
  hr.line
  include ./includes/_content-description.jade
  hr.line.is-mb

block footer
  include ./includes/_footer.jade
