extends layouts/_main

block title
  title Title of template

block content
  section.top
    include ./includes/_header.jade
    .step.step_two
      form.step__in
        h4.title-middle ПОЧТИ ГОТОВО
        .step__block
          .step__wr
            p Чтобы убедиться в том, что перевод отправлен вами, мы временно заблокировали 1 грн. на вашей карте.
              |Вы получите об этом смс-уведомление.
              |В тексте смс, вы также найдете 6-значный код, введите его в поле ниже
            .sms-code
              h4.title-middle смс-код
              .input-field
                input.input.input_yellow(placeholder="6-значный код из смс")
        button.btn.btn_shad(type="button")
          span ПОДТВЕРДИТЬ
        button.btn.btn_bord-red(type="submit") ОТПРАВИТЬ ПОВТОРНО

block content-footer
  hr.line
  include ./includes/_content-description.jade
  hr.line.is-mb

block footer
  include ./includes/_footer.jade
